spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:studentdb}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  servlet:
    multipart:
      max-file-size: 512MB
      max-request-size: 512MB

app:
  output-path:
    linux: /var/log/applications/API/dataprocessing
    windows: C:\\var\\log\\applications\\API\\dataprocessing

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    root: INFO
